<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sga.schoolbattle">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICEGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Smart Games Arena"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sga.schoolbattle.gameswithcomp.VirusWithComputer"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true">
        </activity>
        <activity android:name="com.sga.schoolbattle.engine.LongActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true">
        </activity>
        <activity android:name="com.sga.schoolbattle.gamesonline.ReversiGameActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:screenOrientation="portrait"
            android:value="ca-app-pub-8137188857901546~1022017686" />


        <activity android:name="com.sga.schoolbattle.gamesonline.TEST"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.social.ProfileUserActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.engine.BlitzActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.SearchActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gameswithcomp.SnakeGameWithComputer"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gameswithcomp.ReversiWithComputer"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gameswithcomp.DotGameWithComputer"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gameswithcomp.ConersWithComputer"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gameswithcomp.BoxGameWithComputer"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonline.SnakeGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonedevice.ReversiOneDivice"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonline.BoxGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonedevice.VirusOneDivice"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonedevice.BoxGameOneDivice"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonedevice.SnakeGameOneDivice"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonedevice.DotGameOneDivice"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonedevice.ConersOneDevice"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gameswithcomp.XOGame_withComputer"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonedevice.XOGame_oneDivice"
            android:screenOrientation="portrait"
        android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.PlayWithComputerActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.OneDevicePlayActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonline.DotGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.NavigatorActivity"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity android:name="com.sga.schoolbattle.engine.GameListActivity" />
        <activity android:name="com.sga.schoolbattle.gamesonline.XOGameActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:theme="@style/FullScreenTheme"/>
        <activity android:name="com.sga.schoolbattle.SignInActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.gamesonline.StupidGameActivityTwoPlayers"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.engine.StupidGameActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.NewGameActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.sga.schoolbattle.SignUpActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.sga.schoolbattle.NullActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
