<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolbattle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Show_language_selection"></activity>
        <activity android:name=".SnakeGameWithComputer" />
        <activity android:name=".ReversiWithComputer" />
        <activity android:name=".DotGameWithComputer" />
        <activity android:name=".ConersWithComputer" />
        <activity android:name=".BoxGameWithComputer" />
        <activity android:name=".ReversiOneDivice" />
        <activity android:name=".SnakeGameActivity" />
        <activity android:name=".BoxGameActivity" />
        <activity android:name=".Show_parametr_with_computer" />
        <activity android:name=".VirusOneDivice" />
        <activity android:name=".BoxGameOneDivice" />
        <activity android:name=".SnakeGameOneDivice" />
        <activity android:name=".DotGameOneDivice" />
        <activity android:name=".ConersOneDevice" />
        <activity android:name=".Show_Result_with_Computer" />
        <activity android:name=".XOGame_withComputer" />
        <activity android:name=".Corners_one_device_activity" />
        <activity android:name=".XOGame_oneDivice" />
        <activity android:name=".PlayWithComputerActivity" />
        <activity android:name=".OneDevicePlayActivity" />
        <activity android:name=".DotGameActivity" />
        <activity android:name=".NavigatorActivity" />
        <activity android:name=".GameListActivity" />
        <activity android:name=".XOGameActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".StupidGameActivityTwoPlayers" />
        <activity android:name=".StupidGameActivity" />
        <activity android:name=".NewGameActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".NullActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>