<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolbattle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Chouse_design_Activity"></activity>
        <activity android:name=".Show_language_selection" />
        <activity android:name=".gameswithcomp.SnakeGameWithComputer" />
        <activity android:name=".gameswithcomp.ReversiWithComputer" />
        <activity android:name=".gameswithcomp.DotGameWithComputer" />
        <activity android:name=".gameswithcomp.ConersWithComputer" />
        <activity android:name=".gameswithcomp.BoxGameWithComputer" />
        <activity android:name=".gamesonline.SnakeGameActivity" />
        <activity android:name=".FriendsList" />
        <activity android:name=".gamesonedevice.ReversiOneDivice" />
        <activity android:name=".gamesonedevice.GoGameOneDivice" />
        <activity android:name=".gamesonline.BoxGameActivity" />
        <activity android:name=".Show_parametr_with_computer" />
        <activity android:name=".gamesonedevice.VirusOneDivice" />
        <activity android:name=".gamesonedevice.BoxGameOneDivice" />
        <activity android:name=".gamesonedevice.SnakeGameOneDivice" />
        <activity android:name=".gamesonedevice.DotGameOneDivice" />
        <activity android:name=".gamesonedevice.ConersOneDevice" />
        <activity android:name=".Show_Result_with_Computer" />
        <activity android:name=".gameswithcomp.XOGame_withComputer" />
        <activity android:name=".gamesonedevice.XOGame_oneDivice" />
        <activity android:name=".PlayWithComputerActivity" />
        <activity android:name=".OneDevicePlayActivity" />
        <activity android:name=".gamesonline.DotGameActivity" />
        <activity android:name=".NavigatorActivity" />
        <activity android:name=".GameListActivity" />
        <activity android:name=".gamesonline.XOGameActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".gamesonline.StupidGameActivityTwoPlayers" />
        <activity android:name=".StupidGameActivity" />
        <activity android:name=".NewGameActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".NullActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>